* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }
  #page1{
    background-image: url('images/Partyworld.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  #map {
    height: 100%;
  }

  #homepage{
    text-align: center;
    width: 100%;
  }

  .explanation{
    text-align: center;
    margin-top: 25vh;
    background:rgba(61, 61, 61, 0.7);
    padding: 5px;
    color: white;
  }

  #startarea{
    text-align: center;
    width: 100%;
  }

  #letsgo{
    text-align: center;

  }

  #btncntnr {
    margin-top: 15vh;
    display: inline-block;
    background: #2db34a;
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    line-height: 95px;
    text-align: center;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 95px;
  }
  #btncntnr:hover {
    background: #ff7b29;
    border-radius: 50%;
    cursor: pointer;
  }

  .startbtn {
    text-decoration: none;
  }

  #input-page {
    height: 65vh;
    background:rgba(61, 61, 61, 0.9);
    text-align: center;
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    width: 55vw;
    border-radius: 20px;
    color: white;
    
  }

  #nation-val {
    margin-bottom: 5vh;
  }

  #month-val {
    margin-bottom: 2vh;
    margin-top: 2vh;
    overflow:scroll;
  }

  #submit-btn {
    display: inline-block;
    line-height: 70px;
    background: #2db34a;
    border-radius: 6px;
    cursor: pointer;
    height: 70px;
    text-align: center;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 70px;
    margin-bottom: 3vh;
  }
  #submit-btn:hover {
    background: #ff7b29;
    border-radius: 50%;
    cursor: pointer;
  }

  main {
    background: rgba(61, 61, 61);
    color: white;
    border-radius: 10px;
  }

  a {
    text-decoration: underline;
    color: white;
  }

  #title1 {
    background: rgba(61, 61, 61);
    color: white;
    width: 40%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #title2 {
    background: rgba(61, 61, 61);
    color: white;
    width: 40%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #error-code {

    padding-top: 5px;
    text-align: center;
  }

  #holidays {
    margin-left: 2vw;
  }

  @media (min-width: 600px) {
    #input-page {
      width: 30vw;
      top: 25vh;
      margin-left: 5vw;
    }
    main {
      top: 25vh;
      position: absolute;
      right: 0;
      margin-right: 5vw;
      padding-right: 5vw;
      overflow-x: hidden; 
      overflow-x: auto; 
      text-align:justify; 
      width: 50vw;
      height: 65vh;
      background: rgba(61, 61, 61, 0.9);
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      display: none;
    }
    ol{
      font-size: 12px;
    }

    .title{
      width: 30vw;
      margin: 0 auto;
    }

    #month-val {
      width: 15vw;
      margin-bottom: 10vh;
    }
    .explanation{
      text-align: center;
      margin-top: 15vh;
      background:rgba(61, 61, 61, 0.5);
      padding: 5px;
      color: white;
      width: 40vw;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      border-radius: 10px;
    }
  }


  @media (min-width: 900px) {
    #month-val {
      width: 10vw;
      margin-bottom: 10vh;
    }
  }